Pygments
black ; python_version == '3.8.*'
check-manifest ; python_version == '3.8.*'
docutils
flake8
flake8-bugbear
flake8-tidy-imports
importlib-metadata ; python_version < "3.8"
isort
multilint
pathlib
pytest
pytest-flake8dir
pytest-randomly
secretstorage # required for twine on linux
twine
